.gameLinks{
    text-align: center;
    margin-bottom: 5%;
    display: grid;
}

.gameDropDown{
    display: inline-block;
}

.gameTitles{
    color: #cf4c4c;
    cursor: pointer;
    font-size: 3rem;
    font-family: wildcrazy;
}
/* 
.gameLinks.Links{
    display: none;
} */

/* .gameDropDown:hover  */
/* .gameLinks.Links{
    display: block;
    margin-top: 5%;
} */

.singleGame{
    color: #cf4c4c;
    margin-left: 15px;
    border-bottom: #cf4c4c solid 5px;
    font-size: 1.5em;
    padding: 0 2%;
}

.singleGame:hover{
    background-color: rgba(235, 171, 88, 0.356);
}