/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} 

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} 

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} 

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */



/* * {
  box-sizing: border-box;
 } */
 html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  position: relative;
 }

.App{
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 50px;
}

/* footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
  background-color: #3b3f42;
  color: rgba(255,255,255,.5)
} */

/* ######## Header ######## */
.App-header{
  text-align: center;
  background-color: grey;
  padding-top: 10%;
  padding-bottom: 5%;
  position: relative;
  overflow: hidden;
}

.imageContainer{
  width: 400px;
  height: 400px;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  border: solid 20px;
  border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1% 100%;
  position: relative;   
}

.profilePic{
    width: 100%;
    position: absolute;
    z-index: 2;
    top: -55px;
    left: 0;
}

/* ######## MainBody ######## */
.mainbody{
  padding-bottom: 50px;
}

.sectionimg1 {
  background-image: url(https://res.cloudinary.com/dfqzcsl8x/image/upload/v1607977324/ProfileProject/kitera-dent-V6eAbNSnzco-unsplash_lhzhej.jpg);
  min-height: 400px; 
}

.sectionimg2 {
  background-image: url(https://res.cloudinary.com/dfqzcsl8x/image/upload/v1607978461/ProfileProject/david-lusvardi-dWcUncxocQY-unsplash_biusur.jpg);
  min-height: 400px; 
}

.sectionimg3{
  background-image: url(https://res.cloudinary.com/dfqzcsl8x/image/upload/v1607977648/ProfileProject/mohammad-saemian-cEo3f-8MkDY-unsplash_ovbhfx.jpg);
  min-height: 400px;
}

.sectionimg4{
  background-image: url(https://res.cloudinary.com/dfqzcsl8x/image/upload/v1607977626/ProfileProject/kyle-glenn-_PuoQvJx7pM-unsplash_ro47jv.jpg);
  min-height: 400px;
}

.sectionimg5{
  background-image: url(https://res.cloudinary.com/dfqzcsl8x/image/upload/v1607978979/ProfileProject/jf-martin-Ofs3LjEUcrk-unsplash_vk9buv.jpg);
  min-height: 400px;
}

.sectionimg6{
  background-image: url(https://res.cloudinary.com/dfqzcsl8x/image/upload/v1607979273/ProfileProject/nadine-shaabana-YsPnamiHdmI-unsplash_n7julv.jpg);
  min-height: 400px;
}

.sectionimg1, .sectionimg2, .sectionimg3, .sectionimg4, .sectionimg5, .sectionimg6{
  position: relative;
  opacity: 0.70;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

@media screen and (max-width: 610px) {
  .sectionimg1, .sectionimg2, .sectionimg3, .sectionimg4, .sectionimg5, .sectionimg6 {
    min-height: 300px; 
  }
}

.sectiontitle{
  margin: auto;
  font-size: 4em;
  color:#cf4c4c;
  text-shadow: 0px 2px 4px rgb(17, 184, 59);
}

/* ### Return Back to The top Icon ### */

.returnButtonMain{
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 20px 20px; 
  border-radius: 20%;
  opacity: .2;
  color: white;
  background-color: black;
}

.returnButtonMain:hover{
  opacity: .8;
  background-color: green;
}