/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} 

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} 

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} 

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */



/* * {
  box-sizing: border-box;
 } */
 
body {
  height: 100%;
  position: relative;
 }

.App{
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  /* padding-bottom: 100px; */
}

/* footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
  background-color: #3b3f42;
  color: rgba(255,255,255,.5)
} */

/* ######## Header ######## */
.App-header{
  text-align: center;
  background-color: grey;
  padding-top: 10%;
  padding-bottom: 5%;
}

.imageContainer{
  width: 400px;
  height: 400px;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  border: solid 20px;
  border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1% 100%;
}

.profilePic{
    width: 100%;
    position: relative;
    top: -55px;
}


/* ######## MainBody ######## */


.sectionimg1 {
  background-image: url(https://res.cloudinary.com/dfqzcsl8x/image/upload/v1602968343/Project4/Emilia_ehqzal.jpg);
  min-height: 400px; 
  display: flex;
}

.sectionimg2 {
  background-image: url(https://res.cloudinary.com/dfqzcsl8x/image/upload/v1602968346/Project4/Sagiri_Izumi_icaenq.jpg);
  min-height: 400px; 
}

.sectionimg3{
  background-image: url(https://res.cloudinary.com/dfqzcsl8x/image/upload/v1602968344/Project4/Lucy_Heartfilia_jzvluw.jpg);
  min-height: 400px;
}

.sectionimg1, .sectionimg2, .sectionimg3{
  position: relative;
  opacity: 0.70;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

@media screen and (max-width: 610px) {
  .sectionimg1 {
    min-height: 300px; 
  }
}

.sectiontitle{
  margin: auto;
  font-size: 4em;
}

.testing{
  height:1000px;
  background-color:rgb(83, 67, 67)
}

/* button{
  max-height: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
} */