body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face { font-family: wildcrazy; src: url('fonts-style/OrangeSlicesOutline-nRng0.otf'); } 
@font-face { font-family: drag; src: url('fonts-style/62Dragz-vmAp9.otf'); } 
@font-face { font-family: widow; src: url('fonts-style/BlackWidowMovie-d95Rg.ttf'); } 
@font-face { font-family: run; src: url('fonts-style/Run-6YeWA.ttf'); } 

