

.aboutSection, .skillsSection, .contactSection, .projectsSection {
    width: 75%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 5% 0;
    position: relative;
}

.returnButton{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0px 20px; 
    opacity: .3;
}

.returnButton:hover{
    opacity: .7;
    background-color: green;
}

.aboutSection p{
    margin-bottom: 60px;
    color: purple;
} 

